@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: linear-gradient(#333377, rgb(85, 82, 121));
    background-attachment: fixed;
    color: beige;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 75px;
}

button {
    background-color: #484852;
    color: beige;
    font-size: large;
    font-weight: bolder;
    height: 75px;
    width: 125px;
    margin: 25px;
    border-radius: 8px;
}

div {
    font-size: 35px;
}

.hidden {
    visibility: hidden;
}

#header {
    /* background-color: #484852; */
}

#scoreboard {
    background-color: #484852;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#results {
    font-size: 25px;
}